.body {
  background-color: #f6f6f6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tBodyContainerClass {
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-bottom: 10px;
}

#addMember {
  background-color: #32cd32;
  color: whitesmoke;
  border: none;
  margin: 25px 0;
}

#addMemberForm {
  display: none;
}

#header {
  margin-top: 35px;
}

#mini-header {
  margin: 35px;
}

tr.normal span.normal,
tr.edit span.edit {
  display: inline-block;
}

tr.normal span.edit,
tr.edit span.normal {
  display: none;
}

#memberName {
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#memberStatus {
  margin-right: 5px;
}

#addMemberFormHeader {
  margin-bottom: 10px;
}
